@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>Your CVDLS account is now active! Click <a href="../">here</a> to return to the home page.</p>