@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">ERROR.</h1>
<h2 class="text-danger">Please contact your network administrator and give them the error code below, as well as the sequence which triggered it.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
