@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data available on this website is subject to the privacy policy of the associated company. Any proccesses indicated by the data herein may contitute part of the company's IP, and medical information stored is confidential unless otherwise disclosed.</p>
